@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
*{
   margin: 0px;
   padding: 0px;
   
}
body {
    font-family: 'Muli', sans-serif;
  
    overflow-x: hidden;
   
}

  .oval {
    height: 50px;
    background-color: #555;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
     margin-top: 0px;
     position: relative;
     top:-8px;
     height:200px;
    width: 100vw;
    padding: 70px;
    color: white;
    background: rgb(88, 3, 88);
    text-align: center;
  }
  .oval span{
      font-weight: bold;
      font-size: 40px;
  }
  .circle {
   
    background-color:#fff;
    color:purple;
    border-radius: 50%;
    position: relative;
     top:-50px;
     left:650;
  }
.section2_container{
    padding-top: 50px;
    padding-left: 80px;
    padding-right: 80px;

}
#title{
    font-size: 15px;
    font-weight: bold;
    color:orange;

}
.link_nav{
    font-size: 15px;
}
.link_nav a{
 color: purple;
}
#about-us{

    font-size: 30px;
    font-weight: bold;
    color:orange;
    padding-bottom: 30px;
    letter-spacing: 2px;
}
#vision{

    font-size: 30px;
    font-weight: bold;
    color:orange;
    padding-bottom: 30px;
    letter-spacing: 2px;
}
#mission{

    font-size: 30px;
    font-weight: bold;
    color:orange;
    padding-bottom: 30px;
    letter-spacing: 2px;
}
.content{
    font-size: 15px;
    line-break: 20px;
    padding-bottom: 60px;
}

.section4_container>:nth-child(1){
    color:orange;
    font-size: 40px;
    text-align: center;
}
.section4_container>:nth-child(2){
    padding-left: 100px;
    padding-right:100px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    text-align: center;
}

